ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  color: #ff4500;
  text-decoration: underline;
}
a:visited {
  color: #6a5acd;
}
a:active {
  color: #dc143c;
}
main h2 {
  display: inline-block;
  vertical-align: middle; /* Align the text vertically */
}
